{
  "plugins": [
    "styled-components",
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-react-intl",
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    [
      "@babel/preset-react",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
  ],
  "env": {
    "production": {
      "only": [
        "app"
      ],
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
